name: Fuzz
on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.2
    - name: Install Go
      uses: actions/setup-go@v6.2.0
      with:
        go-version: 'stable'
    # 3m is chosen so that half of the 2000 free CI minutes offered by Github
    # will be used each month. The other half is reserved for tests in PRs.
    # TODO: Find a way to select all fuzz tests, without listing them individually.
    - run: go test -fuzztime=3m -fuzz=Mimetype        ./
    - run: go test -fuzztime=3m -fuzz=Search          ./internal/scan
    - run: go test -fuzztime=3m -fuzz=Match           ./internal/scan
    - run: go test -fuzztime=3m -fuzz=Json            ./internal/json
    - run: go test -fuzztime=3m -fuzz=Parser          ./internal/csv
    - run: go test -fuzztime=3m -fuzz=Plain           ./internal/charset
    - run: go test -fuzztime=3m -fuzz=XML             ./internal/charset
    - run: go test -fuzztime=3m -fuzz=HTML            ./internal/charset
    - run: go test -fuzztime=3m -fuzz=Meta            ./internal/charset
    - run: go test -fuzztime=3m -fuzz=GetAnAttribute  ./internal/markup
    - run: go test -fuzztime=3m -fuzz=GetAValue       ./internal/markup
