name: Tests and linters
on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5.0.0
    - name: Install Go
      uses: actions/setup-go@v6.0.0
      with:
        go-version: 'stable'
    - name: Run linters
      uses: golangci/golangci-lint-action@v9
      with:
        version: "latest"
    - name: Run tests
      run: go test -race -shuffle=on ./...
    # Run the quick tests many times to try and find flakyness.
    - name: Run tests -count=1000
      run: go test -count=1000 -shuffle=on -short ./...
    # Testing on 32 bit architecture to find overflow problems as found in #731.
    - name: Run tests on 32 bit architecture
      run: GOARCH=386 go test -count=1 -shuffle=on ./...
